<!-- <!doctype html>
<html>
<head>
    <title>EIS Tracker</title>
</head>
<body>
    EIS Tracker
</body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <title>My EIS Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 100%
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>My EIS Map</h1>
    <div id="map"></div>

    <div class="projectData">
     <!--  /create another for loop/ -->
    </div>
    <script>
      function initMap() {
        let map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.8283, lng: -98.5795},
          zoom: 4
        });

        {% for state_tuple in states_with_projects %}
          var marker = new google.maps.Marker({
              position: {lat: {{state_tuple[0].geo_lat}}, lng: {{state_tuple[0].geo_long}}},
              title: 'EIS Tracker',
              map: map,
              label: '{{ state_tuple[1] }}',
            });
        {% endfor %}
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6VEBiqDbMmsZ4STInovtQdNwdqduCseI&callback=initMap"
    async defer></script>
  </body>
</html>