<!DOCTYPE html>
<html>
  <head>
    <title>My EIS Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 100%
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>My EIS Map</h1>
    <div id="map"></div>

    <div class="projectData">
      <div id="fb-root"></div>
    </div>
    <!-- reference to js file with code for Facebook button -->
    <script type="/static/initFacebookButton.js" />
    <!-- creates twitter widget that shows feed based on hashtag preference -->
    <script src="/static/initTwitterWidget.js" />

    <!-- This script defines the HELPERS namespace -->
    <script src="/static/helpers.js" />

    <script>

      // creates google map centered at the center of the contiguous US
      function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.8283, lng: -98.5795},
          zoom: 4
        });
      // iterates over list of states with projects to create markers based off of (state, projects in state)
      // state_tuple is actually a list of [state, projects in that state]
        {% for state_tuple in states_with_projects %}
        // makes a marker based off of state
          const marker_{{state_tuple[0].state_id}} = new google.maps.Marker({
            // for each state, the geo_lat and geo_long attributes from State table are passed in google maps function
              position: {lat: {{state_tuple[0].geo_lat}}, lng: {{state_tuple[0].geo_long}}},
              title: 'EIS Tracker',
              map: map,
              //marker shows the number of projects for that state
              label: '{{ state_tuple[1]|length }}',
            });

          projects_in_state = [];

          //iterates over each project associated with a state
            {% for project in state_tuple[1] %}
            // empty dict
            // breaks when let is used
              var project = {};

              // attr is the title, agency, title_link, etc.
              // value is the projects specific details in accordance with those attributes
              // information is stored in project dictionary
              {% for attr, value in project.__dict__.iteritems() %}
                project['{{attr}}'] = '{{value}}';

              {% endfor %}
              // adds project (a dict containting project details) to list of projects in that state (projects_in_state)
              projects_in_state.push(project);

            {% endfor %}

          //creates a dictionary where key is state.state_id and sets that value to all projects in that state
          state_project_map['{{state_tuple[0].state_id}}'] = projects_in_state;

          // listens for clicks on state markers
          marker_{{state_tuple[0].state_id}}.addListener('click', function() {
              HELPERS.showProjectDataForState('{{state_tuple[0].state_id}}');
          });
        {% endfor %}

        // prints project details onto screen
        console.log('state_project_map: ' + JSON.stringify(state_project_map));

        }

    </script>
    <!-- google maps api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6VEBiqDbMmsZ4STInovtQdNwdqduCseI&callback=initMap"
    async defer></script>
    <!-- twitter widget api -->
    <a class="twitter-timeline"  href="https://twitter.com/hashtag/EnvironmentalImpactStatement" data-widget-id="999810728075771905">#EnvironmentalImpactStatement Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <!-- formatting for twitter button, but doesn't work when placed within for loop -->
    <!-- <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text = "my custom text" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
    <!-- Load Facebook SDK for JavaScript -->

  </body>
</html>