<!-- <!doctype html>
<html>
<head>
    <title>EIS Tracker</title>
</head>
<body>
    EIS Tracker
</body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <title>My EIS Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 100%
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>My EIS Map</h1>
    <div id="map"></div>

    <div class="projectData">
     <!--  /create another for loop/ -->
    </div>
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
      return t;

    }(document, "script", "twitter-wjs"));</script>
    <script>
      window.state_project_map = {};

      function showProjectDataForState(state) {
        const projects = state_project_map[state];

        const projectDisplayEl = document.querySelector('.projectData');

        let projectDisplayElInnerHtml = '';
        for (let project of projects) {
          console.log(project);
          projectDisplayElInnerHtml += `<h2>Project: ${project.title}</h2>`;
          
          for (let property in project) {
            projectDisplayElInnerHtml += '<div>' + property + ': ' + project[property] + '</div>';
          }

          // twitter button with custome text to include project details
          projectDisplayElInnerHtml += '<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=' + '@' + project.agency + ' , ' + 'EIS ID:' + project.eis_id + '"> Tweet</a>';
          //projectDisplayElInnerHtml += '<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="my custom text"' +
          // ' data-show-count="false">Tweet</a>'

        }

        projectDisplayEl.innerHTML = projectDisplayElInnerHtml;
      }

      function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.8283, lng: -98.5795},
          zoom: 4
        });

        {% for state_tuple in states_with_projects %}
          const marker_{{state_tuple[0].state_id}} = new google.maps.Marker({
              position: {lat: {{state_tuple[0].geo_lat}}, lng: {{state_tuple[0].geo_long}}},
              title: 'EIS Tracker',
              map: map,
              label: '{{ state_tuple[1]|length }}',
            });

          projects_in_state = [];
            {% for project in state_tuple[1] %}
              var project = {};
              {% for attr, value in project.__dict__.iteritems() %}
                console.log(project['{{attr}}'] = '{{value}}');
                project['{{attr}}'] = '{{value}}';
              {% endfor %}
              projects_in_state.push(project);
            {% endfor %}

          state_project_map['{{state_tuple[0].state_id}}'] = projects_in_state;

          marker_{{state_tuple[0].state_id}}.addListener('click', function() {
              showProjectDataForState('{{state_tuple[0].state_id}}');
          });
        {% endfor %}
        console.log('state_project_map: ' + JSON.stringify(state_project_map));
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6VEBiqDbMmsZ4STInovtQdNwdqduCseI&callback=initMap"
    async defer></script>
    <!-- <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text = "my custom text" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  </body>
</html>